.horizontal-navbar {
  background-color: #96D4D4;
  overflow: hidden;
}

.horizontal-navbar a {
  float: left;
  font-size: 20px;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.horizontal-navbar a:hover {
  background-color: orange;
  color: white;
}

.vertical-navbar {
  width: 200px;
  background-color: #96D4D4;
  padding: 10px;
  color: black;
}

.vertical-navbar a {
  display: block;
  color: #333;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
}

.vertical-navbar a:hover {
  background-color: orange;
  color: white;
}